/* flexbox mixins */
.cat-lander-page {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  max-width: 450px;
  background-color: #2c3e50; }
  .cat-lander-page .cat-lander-hero {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    background-color: white; }
  .cat-lander-page .cat-lander-left {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column; }
  .cat-lander-page .cat-lander-hero-logo {
    width: 75px;
    padding: 10px 0px 10px 5px; }
  .cat-lander-page .cat-lander-photo {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-self: flex-end;
    -ms-align-self: flex-end;
    -moz-align-self: flex-end;
    align-self: flex-end; }
  .cat-lander-page .cat-lander-copy {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    padding: 10px 20px 10px 0px; }
  .cat-lander-page .cat-lander-orange {
    color: #f7931e; }
  .cat-lander-page .cat-lander-copy-header {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px; }
  .cat-lander-page .cat-lander-copy-subheader {
    padding-bottom: 10px;
    font-size: 14px; }
  .cat-lander-page .cat-lander-copy-cta-text {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px; }
  .cat-lander-page .cat-lander-cta-button {
    background-color: #f7931e;
    border: solid 2px #f7931e;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    width: 100px; }
  .cat-lander-page .cat-lander-photo {
    max-width: 140px;
    height: 250px; }
  .cat-lander-page .cat-lander-footer {
    background-color: #2c3e50; }
  .cat-lander-page .cat-lander-footer-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #f7931E;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 15px 5px;
    text-align: center; }
  .cat-lander-page .cat-lander-news-icons {
    padding: 0px 5px 5px 10px; }
  .cat-lander-page .summer15-logo {
    padding: 15px; }
